#contact {
  display: flex;
  flex-direction: column;
}

.container.contact-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  color: var(--color-bg);
  background-color: var(--color-num);
  padding: 1.2rem;
  border: 2px solid white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contact-option:hover {
  background-color: transparent;
}

.contact-option svg {
  color: var(--color-mtext);
  font-size: 2rem;
}

/* ======form=======*/

form {
  border: 2px solid white;
  margin-bottom: 4rem;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: var(--color-nftext);
  font-size: 0.9rem;
}
textarea::placeholder {
  color: var(--color-nftext);
  font-size: 0.9rem;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem;
  /* border-radius: 1.6rem; */
  resize: none;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 0.9rem;
}

/*--- medium devices--*/
@media screen and (max-width: 1024px) {
  .container.contact-container {
    grid-template-columns: 1fr;
    width: 32rem;
    gap: 4rem;
  }
  form {
    margin-bottom: 5rem;
  }
  .contact-options {
    margin-top: 5rem;
  }
}

/*--- small devices--*/
@media screen and (max-width: 600px) {
  .container.contact-container {
    width: 65%;
  }
  section > h1 {
    margin-bottom: -2rem;
  }
  .contact-options {
    margin-bottom: -1rem;
  }
}
