.banner__container {
  background-image: url("../../assets/banner2.png");
  background-size: "cover";
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
}

.banner__container img {
  margin-top: 4rem;
  height: 8rem;
}
.banner__container h4 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 96px;
}

.scroll_down {
  position: absolute;
  right: 1rem;
  bottom: 14rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
}

/* medium devices */
@media screen and (max-width: 1024px) {
  banner {
    height: 68vh;
  }
}

/* small devices */
@media screen and (max-width: 600px) {
  banner {
    height: 100vh;
  }

  .scroll_down {
    display: none;
  }
}
